.home .main-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    left: 0;
}

.home .input-form-row {
    display: flex;
    flex-direction: row;
}

.input-form-row > label {
    color: var(--text-color);
    font-size: 17px;
}

.input-contain-list {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
}

.input-barang-column {
    display: flex;
    flex-direction: column;
}

.input-barang-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.value-wrapper {
    height: 70%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 21px;
}

.value-wrapper div {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}

#minus-operator {
    border-right: var(--secondary) solid;
    border-width: 1px;
}

#plus-operator {
    border-left: var(--secondary) solid;
    border-width: 1px;
}

#delete-button:hover {
    color: var(--accent);
}

.input-field-list {
    border-radius: 21px;
    background-color: var(--secondary);
    cursor: pointer;
    padding: 1px 2px;
}

.home .input-contain {
    margin-left: 21px;
}

.home input[type=text], input[type=number], input[type=datetime-local]{
    max-height: 150%;
    min-width: 100%;
    padding: 7px 14px;
    border: var(--primary) solid;
    background-color: var(--secondary);
    color: var(--text-color);
    border-radius: 21px;
    font-size: 17px;
    font-weight: 500;
}

.home #btn-tambah-records{
    max-height: 150%;
    min-width: 100%;
    padding: 7px 14px;
    border: var(--primary) solid;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 21px;
    font-size: 17px;
    font-weight: 500;
}

.home input[type=submit] {
    max-height: 250%;
    max-width: 250%;
    padding: 7px 14px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 21px;
}

.home input[type=reset] {
    max-height: 250%;
    max-width: 250%;
    padding: 7px 14px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--accent);
    border-radius: 21px;
}

.detail-acara {
    font-size: 17px;
    color: var(--text-color);
}

/* .detail-acara-img {
    object-fit: cover;
    max-height: 2em;
} */

.detail-acara-img > img {
    border-radius: 2em;
    min-width: 100%;
    object-fit: cover;
}

.detail-acara-content {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.detail-acara-content > .judul-acara{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.detail-acara-content > .area, .penyelengara {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    font-weight: 700;
}

.detail-acara-content > .list-detail {
    grid-template-rows: ;
}

.detail-acara-content > .title-detail {
    font-weight: bold;
}

.detail-acara-content > .area {
    color: var(--primary);
}

.list-detail {
    display: grid;
    gap: 2px;
    grid-template-columns: 25% 75% ;
    margin-top: 14px;
}

.list-detail>.title-detail {
    color: var(--primary);
    font-size: 17px;
    font-weight: 600;
}

.list-detail > .title-detail > ul, li {
    list-style-type: none;
    row-gap: 2px;
}

.list-detail > ul > li > .role {
    color: var(--primary);
}

@media screen and (max-width: 768px) {
    .home .main-content {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        width: 60px;
    }

    .sidebar.close {
        width: 60px;
    }

    .sidebar .text {
        font-size: 14px;
    }

    .home {
        padding: 70px 20px 20px 80px;
        width: 100vw;
    }

    .home .title {
        font-size: 22px;
    }

    .home input[type=text], input[type=number], input[type=datetime-local], .home input[type=submit], .home input[type=reset], .home #btn-tambah-records {
        font-size: 14px;
        padding: 5px 10px;
    }

    .input-form-row > label {
        font-size: 14px;
    }

    .value-wrapper div {
        font-size: 14px;
    }

    .detail-acara {
        font-size: 14px;
    }

    .list-detail>.title-detail {
        font-size: 14px;
    }

    .acara-card > .info-acara > .nama-acara {
        font-size: 18px;
    }

    .acara-card > .info-acara > .tanggal-waktu {
        font-size: 12px;
    }

    .acara-card {
        height: 6em;
    }

    .acara-card > img {
        max-height: 6em;
        border-radius: 0.5em;
    }

    .sidebar .icon {
        min-width: 40px;
        font-size: 18px;
    }
}
