:root {
    --primary: #5bc7d2;
    --secondary: #f5f9fa;
    --accent: #f05435;
}

.plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: 200vh;
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 2rem;
}

nav {
    position: sticky;
    max-height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--primary);
    padding-top: 21px;
    border-radius: 0 3vw 3vw 0;
}

.navbar-logo {
    padding: 0.1rem;
    display: flex;
    justify-content: center;
}

.navbar-logo>img {
    height: 50%;
    width: 50%;
    object-fit: scale-down;
    object-position: center;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 1rem;
    font-size: 16px;
    padding-block: 1rem;
}

.nav-list li {
    padding: 8px 16px;
    margin-left: 2rem;
    border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
    background-color: var(--secondary);
}

.nav-list a {
    color: var(--secondary);
    text-decoration: none;
}

.nav-list li.active > a {
    color: var(--primary);
    font-weight: 700;
}

.account {
    display: flex;
    justify-content: center;
    bottom: 0;
    align-self: flex-end;
}

.login-account {
    margin-left: 2rem;
}

.login-account a {
    text-decoration: none;
    color: var(--secondary);
}

header {
    position: sticky;
    max-height: 10vh;
    top: 0;
}

.search-bar input {
    font-size: 16px;
    padding: 8px;
    border-radius: 100vw;
    border-style: solid;
    border-color: var(--primary);
    margin-top: 1rem;
}